header {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: inset 0 0 5px var(--text-color);
    justify-content: space-between;
    padding: var(--tiny-x) var(--tiny-x);
}

header a:first-of-type>* {
    width: 130px;
    height: auto;
    margin-top: var(--tiny);
}

.flex {
    display: flex;
    gap: var(--tiny-x);
    align-items: center;
}

icons {
    justify-self: flex-end;
    flex: 1 1 100%;
}

.cart,
.user-icon {
    color: var(--primary-color);
    font-size: var(--small-x);
    justify-self: flex-end;
    flex: 1 1 100%;
}

.user-icon {
    font-size: var(--small-x);
    display: inline-block;
}

.user-icon>* {
    /* width: 100%; */
}

.cart-container {
    position: relative;
}

.cart-quantity {
    position: absolute;
    margin-left: -.75rem;
    top: -.1rem;
    color: var(--secondary-color);
    background-color: var(--text-color);
    border-radius: 50%;
    padding: 2px 5px;
    font-size: var(--tiny-x);
}

@media screen and (min-width: 320px) {

    header {
        padding: var(--small) var(--tiny-x);
    }

    header a:first-of-type>* {
        width: 170px;
    }

    .cart,
    .user-icon {
        font-size: var(--medium-x);
    }

    .user-icon {
        font-size: var(--inter);
    }

    .cart-quantity {
        padding: 2.5px 7px;
        font-size: var(--tiny-xx);
        margin-left: -1rem;
        top: -.3rem;
    }

}