header,
main {
    /* padding: .1rem; */
    position: relative;
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

p {
    font-weight: 400;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

.rating-star {
    color: rgb(248, 209, 103);
    font-size: var(--small);
}

.loading {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading>* {
    animation: load .75s linear infinite;
    color: var(--primary-color);
    font-size: 5rem;
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

button {
    cursor: pointer;
    /* box-shadow: var(--shadow); */
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;
}

.button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--tiny-xx) var(--medium);
    /* box-shadow: var(--shadow); */
}

@keyframes slideFromLeft {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

main button:hover,
main a:hover {
    opacity: .7;
}

.notice {
    background-color: var(--primary-color);
    position: fixed;
    top: 3%;
    left: 8%;
    right: 8%;
    padding: var(--tiny-x);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-radius: var(--tiny);
    z-index: 999;
    animation: bounceIn .5s ease-out;
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100%);
    }

    50% {
        transform: translateY(0);
        transform: skewX(-20deg);

    }

    75% {
        transform: skewX(20deg);
    }

    100% {
        transform: skewX(0);
    }
}

.notice button {
    grid-column: span 1/-1;
    background-color: var(--secondary-color);
    border: none;
    color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: var(--small-x);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}

.notice p {
    grid-row: 1/2;
    font-size: var(--small);
    color: var(--secondary-color);
    text-align: center;
}