.categories-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 230px)); */
    grid-auto-flow: column;
    /* grid-template-rows: 1fr; */
    max-width: 100vw;
    overflow: scroll;
    gap: var(--tiny-xx);
    padding: var(--small) var(--tiny-xx);
    margin-bottom: var(--inter);
    background-image: url("../../images/hanson-lu-sq5P00L7lXc-unsplash.jpg");
    filter: grayscale(70%);
    background-size: cover;
    margin-top: var(--small-x);
}

.category {
    background-color: var(--secondary-color);
    /* background-color: white; */
    color: var(--text-color);
    width: 220px;
    border-radius: var(--tiny-x);
    animation: flyin .5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--small-x) 0;
    padding: var(--inter) 0;
}

.category h3 {
    font-weight: 500;
    color: var(--text-color);
}


.category:nth-of-type(2) {
    animation: flyin 1s;
}

.category:nth-of-type(3) {
    animation: flyin 1.5s;
}


.category:nth-of-type(4) {
    animation: flyin 2s;
}

.home h2 {
    text-align: center;
    font-size: var(--small-x);

}

.home h2::after {
    width: 10%;
    height: 1px;
    content: "";
    background-color: var(--primary-color);
    display: block;
    margin: 0 auto;
    margin-top: var(--tiny-x);
}

.home h2::before {
    width: 10%;
    height: 1px;
    content: "";
    background-color: var(--primary-color);
    display: block;
    margin: 0 auto;
    margin-bottom: var(--tiny-x);
    margin-top: 3rem;
}

@keyframes flyin {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: stretch;
    margin: var(--small-x) 0;
    padding: var(--small) var(--tiny-xx);
    overflow: hidden;
}

.product-card-wrapper {
    position: relative;
    margin: var(--tiny-xx) var(--tiny);
    background-color: white;
}

.product-card {
    display: grid;
    /* box-shadow: 0 0 2px var(--text-color); */
    /* border-radius: var(--tiny-xx); */
    position: relative;
    height: 100%;

}

.product-card picture {
    padding: var(--tiny-x) var(--tiny-x);
    border-radius: var(--tiny-xx);
}

.product-card img {
    object-fit: contain;
    aspect-ratio: 1/.7;
}

.product-card-info {
    padding: var(--tiny-x);
    border-radius: var(--tiny-xx);
    color: var(--text-color);
}

.product-card-info h3 {
    margin-bottom: var(--tiny-xx);
    font-size: var(--tiny-xx);
}

.product-card .price {
    font-weight: 600;
    color: var(--primary-color);
}

.add-to-cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--small);
    padding: var(--inter) var(--tiny-xx);
    cursor: auto;
    opacity: 0;
    transition: opacity 1s ease;
}

.add-to-cart-overlay.visible {
    opacity: 1;
}

.add-to-cart-overlay>* {
    scale: 0;
    transition: scale .5s ease;
}

.add-to-cart-overlay.visible>* {
    scale: 1;
}


.space-between-flex {
    display: flex;
    justify-content: space-between;
}

.add-to-cart-overlay button {
    border-radius: var(--tiny-x);
    align-self: center;
    padding: var(--tiny-xx) var(--small);
    font-size: var(--small);
    font-weight: 600;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    letter-spacing: 1px;
}

.add-to-cart-overlay>button {
    animation: slideFromTop .5s ease-in-out;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--tiny-xx) 0;

}

.add-to-cart-overlay>a {
    animation: slideFromBottom .5s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-200%);
        /* opacity: 0; */
    }

    to {
        transform: translateY(0%);
        /* opacity: 1; */
    }
}

@keyframes slideToTop {
    from {
        transform: translateY(0);
        /* opacity: 0; */
    }

    to {
        transform: translateY(-200%);
        /* opacity: 1; */
    }
}

@keyframes slideToBottom {
    from {
        transform: translateY(0%);
        /* opacity: 0; */
    }

    to {
        transform: translateY(200%);
        /* opacity: 1; */
    }
}

@keyframes slideFromBottom {
    from {
        transform: translateY(200%);
    }

    to {
        transform: translateY(0%);
    }
}