.page {
    padding: var(--small);
    /* background-color: var(--text-color); */

}

.product-details-container {
    display: grid;
    row-gap: var(--small);

}

.previous {
    display: flex;
    align-items: center;
    font-size: var(--small);
    padding: var(--tiny-xx) var(--small);
    border: none;
    border-radius: var(--tiny-x);
    background-color: var(--text-color);
    color: var(--secondary-color);
    /* box-shadow: inset 0 0 10px var(--secondary-color); */
}


.product-details-images {
    display: grid;
    row-gap: var(--small-x);
}

.product-details-main-image img {
    aspect-ratio: 1/.7;
    object-fit: contain;
}

.product-details-thumbnails {
    display: grid;
    column-gap: var(--tiny-x);
    grid-template-columns: repeat(auto-fit, minmax(50px, 80px));
}

.product-details-main-image {
    /* box-shadow: var(--shadow); */
    padding: var(--small-x);
    border-radius: var(--tiny-x);
    background-color: white;
    margin-top: var(--small);
}

.product-details-info-container>* {
    margin-bottom: var(--tiny-x);
}

.price {
    color: var(--primary-color);
    font-weight: 700;
    font-size: var(--small-x);
}

.product-details-actions {
    display: grid;
    column-gap: var(--small);
    row-gap: var(--small);
    margin-top: var(--inter);
}

.product-details-actions>* {
    border-radius: var(--tiny-x);
    border: none;
}

.product-details-actions button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: var(--small);
    font-weight: 700;
    padding: var(--small);
}

.set-quantity {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 28% 44% 28%;
    /* background-color: white; */
}

.product-details-actions .set-quantity input {
    padding: var(--tiny);
    font-weight: 700;
    font-size: var(--small);
    text-align: center;
    border: 3px solid var(--secondary-color);
    outline: none;
}

.set-quantity input:focus {
    border: 2px solid transparent;
}

.set-quantity>button {
    /* padding: var(--small) 0; */
    background-color: var(--primary-color);
    /* box-shadow: inset 0 0 5px white; */
    color: var(--secondary-color);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.set-quantity>button>* {
    font-size: var(--small-x);
    /* font-size: 1.5rem; */
    font-weight: 900;
    padding: 0;
}

.set-quantity>button:first-of-type {
    border-radius: var(--tiny-x) 0 0 var(--tiny-x);
}

.set-quantity>button:last-of-type {
    border-radius: 0 var(--tiny-x) var(--tiny-x) 0;
}